.blog-body{
  background-color: rgb(98, 41, 41);
}
.cabezera{
  background: rgb(203, 246, 255);
}
.navega{
  width: 100%;
  background: #33005c;
  border-radius: 0 0 9px 9px;
}
.redes-social{
  margin-top: 70px;
}
.img-social:hover{
  opacity: 0.7;
}
.central-cont{
  margin-top: 10px;
}
.articulos{
  height: 100%;
  width: 100%;
  background: rgb(203, 203, 203);
  border-radius: 9px 0 0 0;
}

.img-comentario .caja-comentario{
  margin: 0;
}
.img-articulo{
  width: 80%;
}

.buscadores{
    height: 100%;
    background: #fcf9da;
    border-radius: 0 9px 0 0;
}
.botonbuscar{
  width: 95%;
  margin: 5px 5px 5px 5px;
}

/*CAMBIOS PARA CELULARES*/
@media (max-width: 480px) {
  .navega{
    display: block;
  }
}
